body{
    background-color: $section-light-background;
    color: $dark-text-color;
    font-family: $main-font-family;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img{
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 480px){
        width: 480px;
        
    }
    @media screen and (min-width: 768px){
        width: 768px;
        padding-left: 34px;
        padding-right: 34px;
    }
    @media screen and (min-width: 1280px){
        width: 1280px;
    }
}