body {
  background-color: $light-text-color;
  color: $dark-text-color;
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

html {
  scroll-behavior: smooth;
}

.to-top {
  width: 80px;
  padding:10px;
  position:fixed;
  bottom:30px;
  right:30px;
  cursor:pointer;
  display:none;

  opacity: 0.5;
  border: 0px solid $main-title-color;
  border-radius: 20px;
  background:$mobile-menu-background;

  text-align:center;
  color: #fff;
  font-family: $main-font-family;
  font-size: 11px;

  transition: opacity 250ms $transition-timing-function;

    @media screen and (max-width:768px) {
      bottom:10px;
      right:10px;
    }
  }

  .to-top:hover,
  .to-top:focus{
    opacity: 1;
  }
