@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  background-color: #e5e5e5;
  color: #000000;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.contacts-section__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-section__button-location, .contacts-section__button-franchise {
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 161px;
  min-height: 44px;
  border-radius: 22px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: absolute;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navigator {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-size: 26px;
  text-decoration: none;
  margin-right: auto;
  color: #d41443;
  font-family: Titan One, cursive;
  padding-top: 6px;
}

.logo-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d41443;
}

.menu-btn__icon {
  display: block;
  fill: #000000;
  transition: fill 250ms ease-in-out;
}

.header__menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.hero__title {
  max-width: 218px;
  position: relative;
  font-size: 26px;
  line-height: 1.14;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 19px;
  font-family: Titan One, cursive;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.hero__title--accent {
  color: #d41443;
  font-size: 48px;
}

.hero__links {
  display: flex;
  position: relative;
  font-family: DM Sans, sans-serif;
}

.hero {
  background-color: #ffb8ca;
  padding-top: 160px;
  padding-bottom: 160px;
  overflow: hidden;
}

.hero__link--products {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  min-width: 63px;
  height: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #d41443;
  font-size: 8px;
  border-radius: 20px;
}

.hero__link--products:hover, .hero__link--products:focus {
  background-color: #c7133e;
}

.hero__link--about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 83px;
  height: 24px;
  color: #d41443;
  text-decoration: none;
  background-color: #ffffff;
  font-size: 8px;
  border-radius: 20px;
}

.hero__link--about:hover, .hero__link--about:focus {
  background-color: #ecebeb;
}

.hero-container {
  position: relative;
}

.hero__circle {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  position: absolute;
  top: -103px;
  left: 36px;
  background-color: #ffa5ba;
}

.hero__circle::after {
  content: ' ';
  position: absolute;
  bottom: -75px;
  left: 80px;
  width: 171px;
  height: 410px;
  background-size: contain;
  background-image: url(./../images/mob-hero-icecream@2x.png);
}

.mob-menu-container {
  max-width: 250px;
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e17992;
  padding: 20px 21px;
  transform: translateX(100%);
  transition: 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  align-self: flex-end;
  display: flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.buy-now-btn {
  align-self: center;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  width: 209px;
  display: block;
  height: 44px;
  background-color: #ffffff;
  color: #d41443;
  border: none;
  border-radius: 22px;
  padding: 0;
  margin-bottom: 20px;
}

.buy-now-btn:hover, .buy-now-btn:focus {
  background-color: #ecebeb;
}

.mobile-nav {
  margin: 0;
  padding: 0;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile-nav__item {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 42px;
  display: flex;
}

.mobile-nav__link {
  color: #ffffff;
  text-decoration: none;
  padding: 11px 0;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #d41443;
}

.mobile-nav__item::before {
  content: '';
  border-top: 1px solid #e18298;
  width: 100%;
  position: absolute;
  left: 0;
}

.mobile-nav__item:last-child::after {
  content: '';
  border-bottom: 1px solid #e18298;
  width: 250px;
  position: absolute;
  top: 331px;
  left: 0;
}

.products-section {
  background-color: #e5e5e5;
  padding-top: 121px;
  padding-bottom: 98px;
}

.products-section__item {
  width: 280px;
  height: 485px;
  border-radius: 24px;
}

.products-section__item--first {
  position: relative;
  background-color: #ffb8ca;
  margin-bottom: 146px;
  padding: 161px 15px 41px 16px;
}

.products-section__item--second {
  position: relative;
  background-color: #f0d1a5;
  margin-bottom: 113px;
  padding: 145px 16px 57px 15px;
}

.products-section__item--third {
  position: relative;
  background-color: #c2e297;
  padding: 161px 15px 41px 16px;
}

.products-section__title--subtitle {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products-section__title {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 144px;
}

.products-section__subtitle {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 66px;
}

.products-section__subtitle::after {
  content: '';
  display: block;
  width: 26px;
  height: 6px;
  position: absolute;
  top: 214px;
  left: 127px;
  background-image: url("../images/ellipsis.png");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__subtitle::after {
    background-image: url("../images/ellipsis@2x.png");
  }
}

.products-section__subtitle--first::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 346px;
  background-image: url("../images/mob-productcard1.png");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__subtitle--first {
    background-image: url("../images/mob-productcard1@2x.png");
  }
}

.products-section__subtitle--second::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 362px;
  background-image: url("../images/mob-productcard2.png");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__subtitle--second {
    background-image: url("../images/mob-productcard2@2x.png");
  }
}

.products-section__subtitle--third::before {
  content: '';
  display: block;
  width: 249px;
  height: 252px;
  position: absolute;
  bottom: 346px;
  background-image: url("../images/mob-productcard3.png");
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products-section__subtitle--third {
    background-image: url("../images/mob-productcard3@2x.png");
  }
}

.products-section__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 25px;
  padding-right: 24px;
  margin-bottom: 30px;
}

.products-section__button {
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.products-section__icon {
  width: 40px;
  height: 40px;
}

.advantages {
  background: #fff5f6;
}

.container {
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 36px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 115px;
  }
}

.advantages__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages__list {
  padding-bottom: 91px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    padding-bottom: 142px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__list {
    padding-bottom: 139px;
  }
}

.advantages__item {
  width: 230px;
  height: 156px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    height: 222px;
    margin: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    width: 330px;
    height: 222px;
    margin: 0;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
}

.advantages__number {
  font-family: Titan One, cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .advantages__number {
    margin-bottom: 13px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.24;
  }
}

.advantages__number::before {
  content: '';
  display: inline-block;
  margin-bottom: 16px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .advantages__number::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__number::before {
    margin-bottom: 40px;
  }
}

.advantages__number--first::before {
  content: '';
  width: 33px;
  height: 50px;
  background-image: url(../images/icon-cup.png);
}

.advantages__number--second::before {
  width: 50px;
  height: 50px;
  background-image: url(../images/icon-apples.png);
}

.advantages__number--third::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/icon-heart.png);
}

.advantages__text {
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  letter-spacing: 0.02em;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 23%, #ffffff 23%);
  background-size: contain;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 86px;
}

@media screen and (max-width: 767px) {
  .gallery {
    background-image: linear-gradient(to bottom, #fff5f6 23%, #ffffff 23%);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    background-image: linear-gradient(to bottom, #fff5f6 30%, #ffffff 30%);
  }
}

@media screen and (min-width: 1230px) {
  .gallery {
    background-image: linear-gradient(to bottom, #fff5f6 32.5%, #ffffff 32.5%);
  }
}

.gallery__container {
  padding: 0;
}

.gallery__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*обнулюяю відступи окремих елементів**/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
article {
  margin: 0;
  padding: 0;
}

/*задаю значення та спосіб відображення всіх елементів img*/
img {
  display: block;
  max-width: 100%;
}

/*Прибирає маркери списку*/
ul {
  list-style: none;
}

/*параметри контейнера*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
  padding-top: 123px;
  padding-bottom: 132px;
}

/*мобільний*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

/*планшет*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/*десктоп*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*====Slider====*/
.slider {
  width: 926px;
  overflow: hidden;
  margin: 0 auto;
  overflow: hidden;
}

.slides {
  width: 300%;
  display: flex;
}

.input {
  position: absolute;
  visibility: hidden;
}

.navigation {
  margin: 0 auto;
  text-align: center;
}

.label:not(:last-child) {
  margin-right: 18px;
}

.icon {
  width: 12px;
  height: 12px;
  fill: #d9d9d9;
}

.icon_checked {
  fill: #d31342;
}

.input1:checked ~ .s1 {
  margin-left: 0%;
}

.input2:checked ~ .s1 {
  margin-left: -33.33%;
}

.input3:checked:checked ~ .s1 {
  margin-left: -66.66%;
}

/*===Content===*/
.slide {
  width: 926px;
  transition: all 500ms ease;
  flex-direction: column;
  text-align-last: center;
}

.review_box::after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: red;
  transform: translateX(-50%);
  box-shadow: -10px 0 0 0 red, 10px 0 0 0 red;
}

.review_box::before {
  position: absolute;
  left: 50px;
  top: 32px;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(/images/image1.png);
}

.photo {
  margin: 0 auto;
}

.review_box {
  width: 100%;
  position: relative;
  padding: 47px 54px 32px 50px;
  margin-top: 15px;
  margin-bottom: 34px;
  background-color: #fafafa;
  box-sizing: border-box;
}

.review {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  padding-left: 50px;
  padding-right: 50px;
  background: repeating-linear-gradient(to top, #e1e1e1, #e1e1e1 1px, #fafafa 1px, #fafafa 30px);
}

.subtitle {
  display: inline-block;
  margin-bottom: 35px;
}

.contacts-section {
  background-image: linear-gradient(to bottom, #ffffff 5%, #fff5f6 5%);
  padding-bottom: 113px;
}

.contacts-section__container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .contacts-section__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__container {
    width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  .contacts-section__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts-section__item:last-child {
  margin-bottom: 54px;
}

.contacts-section__item {
  padding: 43px 20px;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts-section__category {
  display: inline;
  padding: 0 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #f0d1a5;
  border-radius: 4px;
}

.contacts-section__category-secondary {
  background-color: #c2e297;
}

.contacts-section__box:not(:last-child) {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-section__box:last-child {
  padding-top: 25px;
}

.contacts-section__subtitle {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
}

.contacts-section__representation-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts-section__workdays {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
}

.contacts-section__work-time {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: #ffa5ba;
}

.contacts-section__work-time:not(:last-child) {
  display: block;
  margin-bottom: 10px;
}

.contacts-section__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts-section__button-location {
  margin-bottom: 10px;
  background-color: #d41342;
  color: #ffffff;
}

.contacts-section__button-franchise {
  background-color: #ffffff;
  color: #d41443;
}

.contacts-section__button-franchise:hover, .contacts-section__button-franchise:focus {
  background-color: #ecebeb;
}
/*# sourceMappingURL=main.css.map */