$hero-background-color: #ffb8ca;
$title-label-color: #ffa5ba;
$main-title-color: #d41443;
$location-button-background: #d41342;
$slide-dot-dark-color: #c7133e;
$slide-dot-light-color: #d9d9d9;
$slide-homepage-color: #d31342;
$section-light-background: #e5e5e5;
$section-dark-background: #fff5f6;
$light-text-color: #ffffff;
$middle-text-color: #907e82;
$dark-text-color: #000000;
$second-product-card-color: #f0d1a5;
$third-product-card-color: #c2e297;
$feedback-background-color: #fafafa;
$feedback-quotes-color: #e1e1e1;
$social-network-background-color: #fea5bb;
$button-hover-background: #ecebeb;
$mobile-menu-background: #e17992;
$mobile-menu-border: #e18298;

$main-font-family: DM Sans;
$title-font-family: Titan One;
