<section id="about" class="about">
  <div class="container">
    <p class="about__suptitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__body">
      <picture>
        <source
          srcset="/images/about--desk.png 1x, /images/about--desk@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="/images/about--tablet.png 1x, /images/about--tablet@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="/images/about--mob.png 1x, /images/about--mob@2x.png 2x"
          media="(max-width:767px)"
        />
        <img class="about__image" src="/images/about--mob.png" alt="jug of milk and cow" />
      </picture>
      <div class="about__info">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__text about__text--second">Aliquam erat volutpat. Aenean accumsan.</p>
        <input id="about--check" hidden type="checkbox" class="about--check" />

        <p class="about__text about__text--hidden checked">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum adipisci provident quidem
          nostrum labore nesciunt eius facere repellat. Maiores ducimus recusandae accusantium
          architecto culpa aperiam repudiandae quae, veniam repellat eveniet voluptate fugiat. Sit
          tenetur libero autem, exercitationem veniam quasi obcaecati voluptas, voluptatum ex
          possimus aspernatur cumque quibusdam. Ea, ab labore! Laudantium nesciunt aspernatur
          provident hic dolor maiores obcaecati itaque. Placeat ex dicta vitae, rerum consequuntur
          iste, quam adipisci officiis, odio harum reprehenderit nulla officia dolor voluptatum ut!
          Blanditiis, libero optio.
        </p>

        <label class="about__label" for="about--check">
          <span class="about__button read-more"
            >Read more<span class="button--more">&gt</span></span
          >
          <span class="about__button read-less">Hide</span>
        </label>
      </div>
    </div>
  </div>
</section>
