<section id="about" class="about">
  <div class="container">
    <p class="about__suptitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__body">
      <picture>
        <source
          srcset="/images/about--desk.png 1x, /images/about--desk@2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="/images/about--tablet.png 1x, /images/about--tablet@2x.png 2x"
          media="(min-width:768px)"
        />
        <source
          srcset="/images/about--mob.png 1x, /images/about--mob@2x.png 2x"
          media="(max-width:767px)"
        />
        <img class="about__image" src="/images/about--mob.png" alt="jug of milk and cow" />
      </picture>
      <div class="about__info">
        <p class="about__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p class="about__text about__text--second">Aliquam erat volutpat. Aenean accumsan.</p>

        <button class="about__button" data-modal-open>
          Read more<span class="button--more">&gt;</span>
        </button>
        <div class="about__backdrop is-hidden" data-modal>
          <div class="about__modal">
            <div class="about__modal-head">
              <button class="about__close" data-modal-close></button>
            </div>
            <h3 class="about__modal-title">Lorem ipsum dolor sit amet.</h3>
            <p class="about__modal-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, provident
              repellendus deleniti ea consequuntur voluptatibus! Quibusdam saepe fugit quo magni
              laudantium optio doloribus eum beatae totam voluptates blanditiis, animi ea
              perspiciatis maxime eos! Consequatur vel error porro voluptatem ea recusandae quis
              asperiores obcaecati, sint praesentium nam. Modi est, architecto natus necessitatibus,
              quod quas voluptatibus cupiditate cum eaque odit enim. Quis necessitatibus, magnam sit
              dignissimos repellat quibusdam sapiente, sint laborum impedit maxime quaerat. Deleniti
              nesciunt sit facere. Quae eaque, expedita sequi tempora non adipisci incidunt
              exercitationem molestias quisquam laborum reprehenderit corporis necessitatibus
              veritatis odio esse voluptatibus illum rerum doloremque earum excepturi ipsa quis
              deserunt. Voluptatem laborum blanditiis minus reprehenderit sapiente dolore harum
              praesentium itaque! Odio dolor eligendi atque aut rerum quidem a vitae adipisci,
              explicabo minima ullam aperiam laudantium tempore sint officia fugiat illo eius libero
              ipsum numquam facere unde iste? Quos, corporis voluptatem! Magnam ea eum cum. Aliquid,
              consectetur sed?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
