<section class="about">
  <div class="container">
    <h3 class="about__suptitle">tradition and love</h3>
    <h2 class="about__title">how it’s made?</h2>
    <picture>
      <source srcset="/images/about--mob.png 1x, /images/about--mob@2x.png 2x" />
      <img class="about__image" src="/images/about--mob.png" alt="jug of milk and cow" />
    </picture>
    <div class="about__info">
      <p class="about__description">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__text about__text--second">Aliquam erat volutpat. Aenean accumsan.</p>

      <button class="about__button">Read more<span class="button--more">&gt</span></button>
      <p class="about__text visually-hidden">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta aut beatae non mollitia
        doloremque, ab, ratione modi maxime explicabo inventore eos sapiente, ipsa vero. Expedita
        alias quaerat in, explicabo repudiandae laborum deleniti ducimus dignissimos iure, aut harum
        pariatur temporibus dicta! Libero blanditiis soluta ea provident, unde sequi voluptate non
        ex, nemo ducimus voluptatibus. Nemo id commodi reprehenderit modi sequi. Recusandae
        molestiae voluptatum id delectus deserunt fugit voluptas quam repudiandae aperiam cupiditate
        minus eligendi, itaque eum modi sapiente molestias accusamus voluptate? Minima quia
        explicabo quaerat tempore deserunt doloremque. Nihil, dolore veniam provident tempore totam
        quam laudantium perferendis odio quibusdam voluptas libero voluptatibus amet laboriosam,
        ducimus dolorum vero! Cupiditate, rem, illum itaque neque nobis iure dicta labore
        repellendus reprehenderit vel odio omnis vitae culpa! Provident suscipit odit omnis,
        ratione, voluptatem ea ipsum aperiam consequuntur dolore aliquid dolor. Minima deleniti
        architecto aliquid ipsa blanditiis dolorum, sit fugiat, perspiciatis sed nobis beatae ex,
        minus magnam eius rem error est similique modi tempora ut veniam amet asperiores? Maxime
        consectetur perferendis porro itaque doloribus explicabo odio laudantium iure, doloremque,
        consequuntur aspernatur at fuga velit recusandae blanditiis iusto odit debitis accusantium
        incidunt ducimus voluptas inventore voluptatem. Minus facere quos quae deserunt. Asperiores
        facilis fugit sed iure animi.
      </p>
    </div>
  </div>
</section>
