<section class="advantages">
  <div class="container">
    <h1 class="advantages__name">advantages</h1>
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__number advantages__number--first">721</div>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__number advantages__number--second">16KG</div>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__number advantages__number--third">84</div>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
