<section class="contacts-section" id="contacts">
  <div class="contacts-section__container container">
    <h2 class="contacts-section__title">Our representation</h2>
    <ul class="contacts-section__list">
      <li class="contacts-section__item">
        <p class="contacts-section__category">CAFE</p>
        <div class="contacts-section__box">
          <h3 class="contacts-section__subtitle">Chicago</h3>
          <p class="contacts-section__representation-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-section__box">
          <p class="contacts-section__workdays">Monday - Friday</p>
          <span class="contacts-section__work-time">06:00 AM - 10:00 PM</span>
          <p class="contacts-section__workdays">Saturday - Sunday</p>
          <span class="contacts-section__work-time">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts-section__box">
          <a href="tel:+61(0)383766284" class="contacts-section__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-section__link">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-section__item">
        <p class="contacts-section__category contacts-section__category-secondary">FOOD TRUCK</p>
        <div class="contacts-section__box">
          <h3 class="contacts-section__subtitle">Los Angeles</h3>
          <p class="contacts-section__representation-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-section__box">
          <p class="contacts-section__workdays">Monday - Friday</p>
          <span class="contacts-section__work-time">06:00 AM - 10:00 PM</span>
          <p class="contacts-section__workdays">Saturday - Sunday</p>
          <span class="contacts-section__work-time">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts-section__box">
          <a href="tel:+61(0)383766284" class="contacts-section__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-section__link">noreply@envato.com</a>
        </div>
      </li>
      <li class="contacts-section__item">
        <p class="contacts-section__category">CAFE</p>
        <div class="contacts-section__box">
          <h3 class="contacts-section__subtitle">New York</h3>
          <p class="contacts-section__representation-text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts-section__box">
          <p class="contacts-section__workdays">Monday - Friday</p>
          <span class="contacts-section__work-time">06:00 AM - 10:00 PM</span>
          <p class="contacts-section__workdays">Saturday - Sunday</p>
          <span class="contacts-section__work-time">08:00 AM - 16:00 PM</span>
        </div>
        <div class="contacts-section__box">
          <a href="tel:+61(0)383766284" class="contacts-section__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts-section__link">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="contacts-section__buttons-box">
      <button type="button" class="contacts-section__button-location">
        Our Locations
        <svg class="contacts-section__icon" width="8" height="16">
          <use href="./images/icons.svg#icon-Vector-1"></use>
        </svg>
      </button>
      <button data-modal-contacts-section-open type="button" class="contacts-section__button-franchise">
        Franchise
        <svg  class="contacts-section__icon" width="8" height="16">
          <use href="./images/icons.svg#icon-Vector-2"></use>
        </svg>
      </button>
    </div>
  </div>
  <div data-modal-contacts-section class="contacts-section-data-modal contacts-section-data-modal--hidden">
      <div class="contacts-section-data-modal__window">
        <b class="contacts-section-data-modal__title">LEAVE YOUR DATA, WE WILL CALL YOU</b>
        <button data-modal-contacts-section-close type="button" class="contacts-section-data-modal__closing">
            <svg class="contacts-section-data-modal__icon">
              <use href="./images/icons.svg#icon-mobile-close-icon"></use>
            </svg>
        </button>
        <form class="main-form">
          <div class="main-form__field">
              <label for="user-name" class="main-form__label">Name</label>
              <input class="main-form__input" type="text" name="user-name" id="user-name">
              <svg class="main-form-icon">
                <use href="./images/icons.svg#icon-person-form"></use>
              </svg>
          </div>
          <div class="main-form__field">
            <label for="user-phone" class="main-form__label">Phone number</label>
            <input class="main-form__input" type="tel" name="user-phone" id="user-phone">
            <svg class="main-form-icon">
              <use href="./images/icons.svg#icon-phone-form"></use>
            </svg>
          </div>
          <div class="main-form__field">
            <label for="user-mail" class="main-form__label">Email</label>
            <input class="main-form__input" type="email" name="user-mail" id="user-mail">
            <svg class="main-form-icon">
              <use href="./images/icons.svg#icon-email-form"></use>
            </svg>
          </div>
          <div class="main-form__field">
            <label for="user-comment" class="main-form__label">Comment</label>
            <textarea class="main-form__textarea" name="user-comment" id="user-comment" rows="10" placeholder="Enter text"></textarea>
          </div>
          <div class="main-form__field main-form__field--check">
            <label for="user-agreement" class="main-form__text">
              <input  class="main-form__checkbox" type="checkbox" id="user-agreement" value="agreement">
              <span class="main-form__tick"></span>
                I agree to the newsletter and accept
              <a class="main-form__link" href="#">Terms of an agreement</a>
            </label>
          </div>
          <button class="contacts-section__form-button" type="submit">Send</button>
        </form>                     
      </div>
  </div>
</section>