<header class="header">
  <div class="container">
    <div class="navigation">
      <a href="#" class="logo"
        ><span class="logo-icon">
          <svg width="45" height="45">
            <use class="logo-icon-svg" href="/images/symbol-defs1.svg#icon-logo"></use>
          </svg>
        </span>
        Icecream</a
      >
      <ul class="navigation__list">
        <li class="navigation__item"><a href="#" class="navigation__links">Home</a></li>
        <li class="navigation__item"><a href="#" class="navigation__links">About us</a></li>
        <li class="navigation__item"><a href="#" class="navigation__links">How it's work</a></li>
        <li class="navigation__item"><a href="#" class="navigation__links">Our products</a></li>
        <li class="navigation__item"><a href="#" class="navigation__links">Contact</a></li>
      </ul>
      <button
        class="header__menu-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="20" height="12" aria-label="open button side menu">
          <use class="menu-btn__icon" href="/images/symbol-defs1.svg#icon-burger"></use>
        </svg>
      </button>
      <button class="buy-now-btn buy-now-btn--tablet">
        <span class="btn-tablet">Buy now</span>
        <svg width="7" height="9">
          <use class="btn-arrow" href="/images/symbol-defs1.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<section class="hero">
  <div class="container hero-container">
    <div class="hero__circle"></div>
    <div class="hero__text">
      <h1 class="hero__title">
        ice cream made with <span class="hero__title--accent">passion</span>
      </h1>
      <ul class="hero__links">
        <a href="#" class="hero__link--products">Products</a>
        <a href="#" class="hero__link--about">How it’s made?</a>
      </ul>
      <p class="hero__milk-dscr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="hero__milk-btn">
        <svg width="7" height="7">
          <use class="btn-arrow" href="/images/symbol-defs1.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
    <div class="hero__right-decor right-decor">
      <ul class="right-decor__list">
        <li class="right-decor__item"><span class="right-decor__item--accent">16</span>cafes</li>
        <li class="right-decor__item">
          <span class="right-decor__item--accent">23</span> food truck
        </li>
      </ul>
    </div>
  </div>
</section>
