<div class="backdrop is-hidden" data-basket>
    <div class="modal">
        <button type="button" class="modal__button" data-basket-close>
            <svg class="modal__close" width="20px" height="20px">
                <use href="/images/symbol-defs1.svg#icon-close"></use>
            </svg>
        </button>

        <form class="form">
            <h2 class="form__title">Basket</h2>

            <div class="form__field">
                <label for="name" class="form__text">Name</label>
                <input type="text" name="user-name" id="name" class="form__input"  placeholder=" " required >
            </div>

            <div class="form__field">
                <label for="tel" class="form__text">Phone number</label>
                <input type="text" name="tel" id="tel" class="form__input" placeholder=" " required  >
            </div>
                
            <div class="form__field">
                <label for="email" class="form__text">E-mail</label>
                <input type="text" name="email" id="email" class="form__input"  placeholder=" " required>
            </div>

            <div role="group" class="checkbox__group">
                <div class="checkbox__item">
                    <label class="form__text form__text-product">
                        <input class="checkbox__input" type="checkbox" name="products" value="ice-cream">
                        
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">ice cream</span>
                    </label>
                   
                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input type="number" min="0" value="1" readonly>
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                </div>

                <div class="checkbox__item">
                    <label  class="form__text form__text-product">
                        <input class="checkbox__input" type="checkbox" name="products" value="ice=coffee">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">ice coffee</span>
                    </label>

                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input type="number" min="0" value="1" readonly>
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                </div>
                
                
                <div class="checkbox__item">
                    <label  class="form__text form__text-product">
                        <input class="checkbox__input" type="checkbox" name="products" value="milkshakes">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">milkshakes</span>
                    </label>
                
                    <div class="number">
                        <button class="number-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">-</button>
                        <input type="number" min="0" value="1" readonly>
                        <button class="number-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">+</button>
                    </div>
                
                </div>
            </div>
            <div class="form__field">
                <label for="comment" class="form__text">Comment</label>
                <textarea name="comment" id="comment" placeholder="Enter text" class="form__comment"></textarea>
            </div>

            <button type="submit" class="modal__button-buy">Buy
                <svg width="8px" height="16px">
                    <use href="/images/symbol-defs1.svg#icon-vector"></use>
                </svg>
            </button>

        </form>
    </div>
</div>