<section class="section products-section" id="products-section">
    <div class="container">
        <p class="products-section__title--subtitle">100% natural</p>        
        <h2 class="products-section__title">products</h2>
        <ul class="products-section__list">
            <li class="products-section__item products-section__item--first">
                <h3 class="products-section__subtitle products-section__subtitle--first">ice cream</h3>
                <p class="products-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span class="products-section__description--hidden">magna
                aliqua facilisis.</span></p>
                <button class="products-section__button" type="button" aria-label="detailed description"></button>
            </li>
            <li class="products-section__item products-section__item--second">
                <h3 class="products-section__subtitle products-section__subtitle--second">ice coffee</h3>
                <p class="products-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. <span class="products-section__description--hidden">magna
                        aliqua facilisis.</span></p>
                <button class="products-section__button" type="button" aria-label="detailed description"></button>
            </li>
            <li class="products-section__item products-section__item--third">
                <h3 class="products-section__subtitle products-section__subtitle--third">milkshakes</h3>
                <p class="products-section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. <span class="products-section__description--hidden">magna
                        aliqua facilisis.</span></p>
                    <button class="products-section__button" type="button" aria-label="detailed description"></button>
            </li>
        </ul>        
    </div>
</section>