<section class="container">
    <div class="slider">
        <div class="slides">
            <input type="radio" name="btn" id="btn1" checked class="input input1">
            <input type="radio" name="btn" id="btn2" class="input input2">
            <input type="radio" name="btn" id="btn3" class="input input3">
            <div class="slide s1">
                <img src="./images/member1.jpg" alt="smiling girl" class="photo">
                <div class="review_box">
                    <article class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </article>
                </div>
                <h2 class="subtitle">Emily, Los Angeles</h2>

            </div>
            <div class="slide">
                <img src="./images/member2.jpg" alt="smiling girl" class="photo">
                <div class="review_box">
                    <article class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </article>
                </div>
                <h2 class="subtitle">Emily, Los Angeles</h2>

            </div>
            <div class="slide">
                <img src="./images/member3.jpg" alt="smiling girl" class="photo">
                <div class="review_box">
                    <article class="review">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </article>
                </div>
                <h2 class="subtitle">Emily, Los Angeles</h2>

            </div>
        </div>
        <div class="navigation">
            <label for="btn1" class="label"><svg class="icon icon_checked">
                    <use href="./images/symbol-defs.svg#icon-home"></use>
                </svg></label>
            <label for="btn2" class="label"><svg class="icon">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg></label>
            <label for="btn3" class="label"><svg class="icon">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg></label>
        </div>

    </div>
</section>