footer {
   //padding-top: 56px;
    padding-bottom: 25px;
    background: #fff5f6;
  
    @media screen and (min-width: 768px) {
    //  padding-top: 79px;
      padding-bottom: 18px;
      
    }
  
    @media screen and (min-width: 1280px) {
    //  padding-top: 83px;
      padding-bottom: 10px;
    }
  }
  
  .footer {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .footer-caption {
    width: 230px;
  
    @media screen and (min-width: 768px) {
      width: 340px;
    }
  
    @media screen and (min-width: 1280px) {
      width: 480px;
    }
  }
  
  .footer-title {
    margin-top: 0;
   // margin-bottom: 17px;
    color: #ffa5ba;
    font-family:  $title-font-family;
    text-transform: uppercase;
    

    @media screen and (min-width: 768px) {
      margin-top: 7px;
      margin-bottom: 16px;
      font-size: 26px;
     
    }
  
    @media screen and (min-width: 1280px) {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 26px;
    }
  }
  
  .footer-subtitle {
    margin-top: 0;
    margin-bottom: 43px;
    color: #d41443;
    font-family:  $title-font-family;
    letter-spacing: .04em;
    font-size: 34px;

    @media screen and (min-width: 768px) {
      margin-bottom: 91px;
      font-size: 48px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 97px;
    }
  }
  
  .footer-networks {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 46px;
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 50px;
    }
  }
  
  .footer-item:not(:last-child) {
    margin-right: 28px;
  
   //@media screen and (min-width: 768px) {
   //margin-right: 30px;
   //}
  
    @media screen and (min-width: 768px) {
      margin-right: 24px;
    }
  }
  
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  
    background-color: #fea5bb;
  
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: #d41443;
    }
  
    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }
  }
  
  .footer-github {
    width: 19px;
    height: 19px;
  
    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
  
  .footer-telegram {
    width: 19px;
    height: 15px;
  
    @media screen and (min-width: 768px) {
      width: 20px;
      height: 16px;
    }
  }
  
  .footer-facebook {
    width: 9px;
    height: 19px;
  
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 20px;
    }
  }
  
  .footer-contact {
    margin-top: 0;
    margin-bottom: 43px;
    font-family: $main-font-family;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: #000;
    
  
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      letter-spacing: 0.02em;
    }
  }
  
  .footer-tel {
    color:#d41443;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e1e1e1;
  }
  
  .text-copyright {
    width: 145px;
    margin-top: 25px;
    margin-bottom: 0;
  
    font-family:$main-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    color: #907e82;
  
    @media screen and (min-width: 768px) {
      width: 300px;
      line-height: 186%;
      letter-spacing: 0.02em;
    }
  }
 
  
 