h1 {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: absolute;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  outline: 1px solid tomato;
}

.navigator {
  display: flex;
}

.logo {
  display: inline-block;
  font-size: 26px;
  text-decoration: none;
  margin-right: auto;
  color: #d41443;

  padding-top: 6px;
}

.logo-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d41443;
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.menu-btn__icon {
  display: block;
  fill: #d41443;
}

// Hero

.hero__title {
  max-width: 218px;

  font-size: 26px;
  line-height: 1.14;
  color: #fff;
  margin-bottom: 19px;

  &--accent {
    color: #d41443;
  }
}

.hero__links {
  display: flex;
}

.hero {
  background-color: #ffb8ca;

  padding-top: 137px;
  padding-bottom: 160px;

  &__link--products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    min-width: 63px;
    height: 24px;

    color: #fff;
    text-decoration: none;
    background-color: #d41443;
    font-size: 8px;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }

  &__link--about {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 83px;
    height: 24px;

    color: #d41443;
    text-decoration: none;
    background-color: #fff;
    font-size: 8px;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

// Decorative
.decorative-circle {
  z-index: 1;
  width: 346px;
  height: 346px;
  background-color: #ffa5ba;
  border-radius: 50%;

  position: absolute;
  top: 83px;
  left: 36px;
}

// Mobile menu
.mob-menu-container {
  max-width: 250px;
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #e17992;

  padding: 20px 21px;

  transform: translateX(100%);
  transition: 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  align-self: flex-end;
  display: flex;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.buy-now-btn {
  align-self: center;

  width: 209px;
  display: block;
  height: 44px;
  background-color: #fff;
  color: #d41443;
  border: none;
  border-radius: 22px;

  padding: 0;
  margin-bottom: 32px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.mobile-nav {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    padding: 11px 0;

    &:hover,
    &:focus {
      color: #d41443;
    }
  }
}

.mobile-nav__item:last-child {
  margin-bottom: 0;
}
