h1 {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: absolute;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  // outline: 1px solid tomato;
}

.navigator {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-size: 26px;
  text-decoration: none;
  margin-right: auto;
  text-transform: uppercase;
  color: $main-title-color;
  font-family: $title-font-family;

  padding-top: 6px;
}

.logo-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $main-title-color;
}

.menu-btn__icon {
  display: block;
  fill: $dark-text-color;
  transition: fill 250ms ease-in-out;
}

.header__menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

// Hero

.hero__title {
  max-width: 218px;

  position: relative;

  font-size: 26px;
  line-height: 1.14;
  font-weight: 400;
  color: $light-text-color;
  margin-bottom: 19px;
  font-family: $title-font-family;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  &--accent {
    color: $main-title-color;
    font-size: 48px;
  }
}

.hero__links {
  display: flex;
  position: relative;

  font-family: $main-font-family;
}

.hero {
  background-color: $hero-background-color;

  padding-top: 160px;
  padding-bottom: 160px;
  overflow: hidden;

  &__link--products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    min-width: 63px;
    height: 24px;

    color: $light-text-color;
    text-decoration: none;
    background-color: $main-title-color;
    font-size: 8px;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: $slide-dot-dark-color;
    }
  }

  &__link--about {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 83px;
    height: 24px;

    color: $main-title-color;
    text-decoration: none;
    background-color: $light-text-color;
    font-size: 8px;
    border-radius: 20px;

    &:hover,
    &:focus {
      background-color: $button-hover-background;
    }
  }
}

// Hero section
.hero-container {
  position: relative;
}

// Decorative

.hero__circle {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  position: absolute;
  top: -103px;
  left: 36px;
  background-color: $title-label-color;

  &::after {
    content: ' ';
    position: absolute;
    bottom: -75px;
    left: 80px;
    width: 171px;
    height: 410px;
    background-size: contain;
    background-image: url(./../images/mob-hero-icecream@2x.png);
  }
}

// Mobile menu
.mob-menu-container {
  max-width: 250px;
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: $mobile-menu-background;

  padding: 20px 21px;

  transform: translateX(100%);
  transition: 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  align-self: flex-end;
  display: flex;
  // width: 14px;
  // height: 14px;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.buy-now-btn {
  align-self: center;

  font-family: $main-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;

  width: 209px;
  display: block;
  height: 44px;
  background-color: $light-text-color;
  color: $main-title-color;
  border: none;
  border-radius: 22px;

  padding: 0;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    background-color: $button-hover-background;
  }
}

.mobile-nav {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;

    height: 42px;
    display: flex;
  }

  &__link {
    color: $light-text-color;
    text-decoration: none;
    padding: 11px 0;

    &:hover,
    &:focus {
      color: $main-title-color;
    }
  }
}

.mobile-nav__item::before {
  content: '';
  border-top: 1px solid $mobile-menu-border;
  width: 100%;
  position: absolute;
  left: 0;
}
.mobile-nav__item:last-child::after {
  content: '';
  border-bottom: 1px solid $mobile-menu-border;
  width: 250px;
  position: absolute;
  top: 331px;
  left: 0;
}
