.header {
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .header {
    top: 40px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;

  &__list {
    display: flex;

    margin-right: auto;

    @media screen and (max-width: 1279px) {
      display: none;
    }
  }

  &__item {
    transition: all 250ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__links {
    padding: 10px 0;

    font-size: 16px;
    font-family: $main-font-family;
    color: $light-text-color;

    transition: color 250ms ease-in-out;

    &:hover,
    &:focus {
      color: $main-title-color;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 26px;
  text-decoration: none;
  margin-right: auto;
  text-transform: uppercase;
  color: $main-title-color;
  font-family: $title-font-family;

  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $slide-dot-dark-color;
  }

  padding-top: 6px;

  @media screen and (min-width: 768px) {
    padding-top: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-right: auto;
    position: relative;
    left: -70px;
  }
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  margin-right: 20px;
  background-color: $main-title-color;

  transition: background-color 250ms ease-in-out;

  .logo:hover &,
  .logo:focus & {
    background-color: $slide-dot-dark-color;
  }
}

.logo-icon-svg {
  fill: $light-text-color;
}

.header__menu-btn {
  display: block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.menu-btn__icon {
  display: block;
  stroke: $main-title-color;
  transition: stroke 250ms ease-in-out;

  .header__menu-btn:focus &,
  .header__menu-btn:hover & {
    stroke: $light-text-color;
  }
}

.menu-close-btn__icon {
  stroke: $light-text-color;

  .header__menu-btn:hover &,
  .header__menu-btn:focus {
    stroke: $main-title-color;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header__menu-btn {
    display: none;
  }
}

// Hero

.hero__icecream-img {
  display: block;
  margin-left: 25%;
  margin-top: 5%;

  @media screen and (min-width: 768px) {
    margin-top: 12%;
  }
}

.baby-img {
  display: block;
}

.milk-img {
  &:hover {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    left: -40px;
  }
}

.hero-container {
  position: relative;
  display: flex;
  max-width: 480px;
  height: inherit;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.milk-container__text {
  padding-bottom: 10px;
}

.hero__text {
  position: absolute;
  margin-top: 180px;

  @media screen and (min-width: 768px) {
    margin-top: 102px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 178px;
  }
}

.hero__title {
  max-width: 218px;

  position: relative;

  font-size: 26px;
  line-height: 1.14;
  font-weight: 400;
  color: $light-text-color;
  margin-bottom: 20px;
  font-family: $title-font-family;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  &--accent {
    color: $main-title-color;
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
    max-width: 162px;

    margin-bottom: 25px;

    &--accent {
      font-size: 34px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
    max-width: 277px;

    &--accent {
      font-size: 58px;
    }
  }
}

.hero__links {
  display: flex;
  position: relative;
  font-family: $main-font-family;

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.hero__milk-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 300px;

  @media screen and (min-width: 1280px) {
    max-width: 500px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1280px) {
      margin-left: 30px;
    }
  }
}

.hero {
  background-color: $hero-background-color;

  height: 500px;
  overflow: hidden;

  &__link--products {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    min-width: 63px;
    height: 24px;

    color: $light-text-color;
    text-decoration: none;
    background-color: $main-title-color;
    font-size: 8px;
    border-radius: 20px;

    transition: background-color 250ms ease-in-out;

    @media screen and (min-width: 1280px) {
      min-width: 105px;
      min-height: 40px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: $slide-dot-dark-color;
    }
  }

  &__link--about {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 83px;
    height: 24px;

    color: $main-title-color;
    text-decoration: none;
    background-color: $light-text-color;
    font-size: 8px;
    border-radius: 20px;

    transition: background-color 250ms ease-in-out;

    @media screen and (min-width: 1280px) {
      min-width: 138px;
      min-height: 40px;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: $button-hover-background;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 665px;
  }
}

.hero__milk-dscr {
  width: 120px;
  font-family: $main-font-family;
  color: $light-text-color;
  font-size: 8px;
  line-height: 1.4;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    width: 200px;
    margin-bottom: 10px;
  }
}

.hero__milk-btn {
  background-color: #f3f3f3;

  border-style: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;

  transition: background-color 250ms ease-in-out;

  &:focus,
  &:hover {
    background-color: $mobile-menu-background;
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.hero__right-decor {
  position: absolute;
  right: 44px;
  top: 94px;

  @media screen and (min-width: 1280px) {
    right: 110px;
  }
}

.right-decor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 80px;
  margin-left: auto;
  margin-bottom: 32%;
  padding-top: 10px;

  @media screen and (min-width: 1280px) {
    padding-top: 10%;
    margin-bottom: 45%;
  }
}

.right-decor__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  max-width: 51px;

  font-family: $main-font-family;
  font-size: 8px;
  line-height: 1;
  color: $light-text-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.3;
    max-width: 90px;
  }

  &::before {
    content: ' ';
    position: absolute;
    right: -8px;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $light-text-color;

    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;

      right: -15px;
    }
  }

  &--accent {
    position: relative;
    z-index: 10;

    font-family: $title-font-family;
    color: $main-title-color;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.4;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }

    @media screen and (min-width: 1280px) {
      font-size: 46px;
    }
  }

  &:last-child {
    margin-top: 15px;
  }
}

// Decorative

.hero__circle {
  width: 346px;
  height: 346px;
  border-radius: 50%;
  position: absolute;
  top: 79px;
  left: 15%;
  background-color: $title-label-color;
}

@media screen and (min-width: 768px) {
  .hero__circle {
    left: 300px;
    top: 31px;
    width: 322px;
    height: 322px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__circle {
    left: 475px;
    top: 52px;
    width: 538px;
    height: 538px;
  }
}

// Mobile menu
.mob-menu-container {
  max-width: 250px;
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: $mobile-menu-background;

  padding: 20px 21px;

  transform: translateX(100%);
  transition: 250ms ease-in-out;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-close-btn {
  align-self: flex-end;
  display: flex;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.btn-tablet {
  display: inline-block;
  margin-right: 10px;
}

.buy-now-btn {
  align-self: center;

  font-family: $main-font-family;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;

  width: 186px;
  display: block;
  height: 44px;
  background-color: $light-text-color;
  color: $main-title-color;
  border: none;
  border-radius: 22px;

  padding: 0;
  margin-bottom: 20px;

  transition: background-color 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $button-hover-background;
  }

  &--tablet {
    width: 160px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .buy-now-btn--tablet {
    display: none;
  }

  .hero__milk-btn {
    display: none;
  }

  .hero__right-decor {
    display: none;
  }

  .hero__milk-dscr {
    display: none;
  }

  .milk-img {
    display: none;
  }
}

.mobile-nav {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;

    height: 42px;
    display: flex;
  }

  &__link {
    color: $light-text-color;
    text-decoration: none;
    padding: 11px 0;

    &:hover,
    &:focus {
      color: $main-title-color;
    }
  }
}

.mobile-nav__item::before {
  content: '';
  border-top: 1px solid $mobile-menu-border;
  width: 100%;
  position: absolute;
  left: 0;
}
.mobile-nav__item:last-child::after {
  content: '';
  border-bottom: 1px solid $mobile-menu-border;
  width: 250px;
  position: absolute;
  top: 331px;
  left: 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
