.advantages {
  background: $section-dark-background;
}

.advantages__container {
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 0 36px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 115px;
  }
}

.advantages__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages__list {
  padding-bottom: 91px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 142px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
  }
}

.advantages__item {
  width: 230px;
  height: 156px;
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 180px;
    height: 222px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 60px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .advantages__item {
    width: 330px;
    height: 222px;
    margin: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.advantages__number {
  font-family: $title-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $main-title-color;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
    font-size: 48px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.24;
  }
}

.advantages__number::before {
  content: '';

  display: inline-block;
  margin-bottom: 16px;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.advantages__number--first::before {
  content: '';
  width: 33px;
  height: 50px;
  background-image: url(../images/icon-cup.png);
}

.advantages__number--second::before {
  width: 50px;
  height: 50px;
  background-image: url(../images/icon-apples.png);
}

.advantages__number--third::before {
  width: 44px;
  height: 50px;
  background-image: url(../images/icon-heart.png);
}

.advantages__text {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: $dark-text-color;
  letter-spacing: 0.02em;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}
