.contacts-section {
    background-image: 
        linear-gradient(
            to bottom, 
            $light-text-color 5%, 
            $section-dark-background 5%);
    padding-bottom: 113px;
    @media screen and (min-width: $tablet) {
        background-image: 
            linear-gradient(
                to bottom, 
                $light-text-color 10%, 
                $section-dark-background 10%);
    } 
}

.contacts-section__container {
    padding-left: 50px;
    padding-right: 50px;
    @media screen and (min-width: $tablet) {
        padding-left: 36px;
        padding-right: 36px;
    }
}

.contacts-section__title {
    @extend %visually-hidden;
}

.contacts-section__list {
    @media screen and (min-width: $tablet) {
        display: flex;

        margin-bottom: 81px;
        margin-left: -20px;
    }
}

.contacts-section__item:not(:last-child) {
    @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 20px;
    }
}

.contacts-section__item:last-child {
    @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 54px;
    }
}

.contacts-section__item {
    padding: 43px 20px;

    background-color: $light-text-color;
    border-radius: 24px;
    box-shadow: 0px 8px 30px $contacts-section-shadow-color;

    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 40px) / 3);
        margin-left: 20px;
        padding: 50px 32px;
    }
}

.contacts-section__category {
    display: inline;
    padding: 0 24px;

    line-height: 1.83;

    color: $light-text-color;

    background-color: $second-product-card-color;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.86;
    }
}

.contacts-section__category-secondary {
    background-color: $third-product-card-color; 
}

.contacts-section__box:not(:last-child) {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid $feedback-quotes-color;
    @media screen and (min-width: $tablet) {
        padding-top: 30px;
        padding-bottom: 30px;  
    }
}
.contacts-section__box:last-child {
    padding-top: 25px;
    @media screen and (min-width: $tablet) {
       padding-top: 30px; 
    }
}

.contacts-section__subtitle {
    margin-bottom: 10px;

    line-height: 1.83;
    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.86;
    }
}

.contacts-section__representation-text {
    color: $middle-text-color;
    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.64;
    }
}

.contacts-section__workdays {
    line-height: 1.83;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.86;
    }
}

.contacts-section__work-time {
    line-height: 1.83;

    color: $title-label-color;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.86;
    }
}

.contacts-section__work-time:not(:last-child) {
    display: block;
    margin-bottom: 10px;
}

.contacts-section__link {
    display: block;

    color: $middle-text-color;
}

.contacts-section__buttons-box {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.contacts-section__button-location {
    @extend %contacts-section__buttons;
    @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 10px;
    }

    background-color: $location-button-background;
    color: $light-text-color;
    @media screen and (min-width: $tablet) {
        margin-right: 15px;
    }
}

.contacts-section__button-franchise {
    @extend %contacts-section__buttons;
    background-color: $light-text-color;
    color: $main-title-color;

    &:hover, &:focus {
        background-color: $button-hover-background;
    }
}
