img {
  display: block;

  height: 100%;
}

.gallery {
  background-image: linear-gradient(to bottom, $section-dark-background 23%, $light-text-color 23%);

  margin: 0 auto;
  text-align: center;
  align-items: center;

  min-width: 320px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      $section-dark-background 30%,
      $light-text-color 30%
    );
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
      to bottom,
      $section-dark-background 32.5%,
      $light-text-color 32.5%
    );
    padding-bottom: 123px;
  }
}

.gallery__container {
  display: flex;

  justify-content: center;

  width: 320px;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.gallery__name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__pic {
  display: block;
  margin: 0;
  padding: 0;

  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;

  width: 40px;
  height: 40px;
  margin: 2px;
  border-radius: 14%;

  box-shadow: 1px 4px 6px rgb(0 0 0 / 16%), 0px 4px 4px rgb(0 0 0 / 6%),
    0px 1px 1px rgb(0 0 0 / 12%);

  @media screen and (min-width: 768px) {
    width: 87px;
    height: 87px;
    margin: 2.5px;
  }

  @media screen and (min-width: 1280px) {
    width: 140px;
    height: 140px;
    margin: 3px;
  }

  &:hover {
    transform: scale(1.25);
    border-radius: 14%;
  }
}

.gallery__pic--first {
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 87px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 142px;
  }
}

.gallery__box--first {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  @media screen and (min-width: 768px) {
    padding-top: 54px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 86px;
  }
}

.gallery__pic--bigger {
  width: 81px;
  height: 81px;

  @media screen and (min-width: 768px) {
    width: 175px;
    height: 175px;
  }

  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 280px;
  }
}

.gallery__box--second {
  display: flex;
  flex-direction: column;
}

.gallery__box--third {
  display: flex;
  flex-direction: column;
  padding-top: 28px;

  @media screen and (min-width: 768px) {
    padding-top: 62px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 100px;
  }
}

.gallery__box--fourth {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @media screen and (min-width: 768px) {
    padding-top: 33px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 53px;
  }
}

.gallery__pic--last {
  margin-top: 43px;

  @media screen and (min-width: 768px) {
    margin-top: 95px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 153px;
  }
}
