/*параметри контейнера*/
.customer-reviews.container {
  background: $light-text-color;
  padding-bottom: 86px;

  /*мобільний*/
  @media screen and (min-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
  /*планшет*/
  @media screen and (min-width: $tablet) {
    padding-bottom: 119px;
    padding-left: 74px;
    padding-right: 74px;
  }
  /*десктоп*/
  @media screen and (min-width: $desktop) {
    padding-bottom: 132px;
    padding-left: 177px;
    padding-right: 177px;
  }
}

/*====Slider====*/
.slider {
  width: 280px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }
  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}

.slider__list {
  width: 300%;
  display: flex;
}

.slider__input {
  position: absolute;
  visibility: hidden;
}
.slider__navigation {
  margin: 0 auto;
  text-align: center;
}

.slider__navigation-item {
  cursor: pointer;
}
.slider__navigation-item:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 18px;
  }
}

.slider__navigation-icon {
  width: 12px;
  height: 12px;
  fill: $slide-dot-light-color;
  transition: transform $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    transform: scale(1.35);
  }
}

.slider__navigation-icon--checked {
  fill: $slide-homepage-color;
}

.slider__input--one:checked ~ .slide--checked {
  margin-left: 0%;
}

.slider__input--two:checked ~ .slide--checked {
  margin-left: -33.33%;
}
.slider__input--three:checked ~ .slide--checked {
  margin-left: -66.66%;
}

/*===Content===*/

.slide {
  width: 280px;
  transition: all 500ms ease;
  flex-direction: column;
  text-align-last: center;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }
  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}

.review::after {
  position: absolute;
  left: 50%;
  bottom: -15px;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $slide-dot-dark-color;
  transform: translateX(-50%);

  box-shadow: -10px 0 0 0 $slide-dot-dark-color, 10px 0 0 0 $slide-dot-dark-color;
}

.slide__image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}
.review {
  width: 100%;
  position: relative;
  padding: 43px 50px 20px 50px;
  margin-top: 29px;
  margin-bottom: 34px;
  background-color: $feedback-background-color;
  box-sizing: border-box;

  @media screen and (min-width: $tablet) {
    padding: 47px 36px 28px 60px;
    margin-top: 19px;
    margin-bottom: 42px;
  }
  @media screen and (min-width: $desktop) {
    padding: 47px 54px 32px 59px;
    margin-top: 19px;
    margin-bottom: 42px;
    background-position: 50px 32px;
  }
}

.review__text::before {
  position: absolute;
  left: 61px;
  top: 28px;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/quotes.png);
  background-size: cover;
  z-index: 1;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/quotes@2x.png);
  }

  @media screen and (min-width: $tablet) {
    left: 40px;
    top: 30px;
  }
  @media screen and (min-width: $desktop) {
    left: 50px;
    top: 32px;
  }
}

.review__text {
  text-align: center;
  font-size: 12px;
  line-height: 2.58;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding-left: 7px;
  padding-right: 16px;
  background: repeating-linear-gradient(
    to top,
    $feedback-quotes-color,
    $feedback-quotes-color 1px,
    $feedback-background-color 1px,
    $feedback-background-color 30px
  );

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 2.16;
    padding-left: 20px;
    padding-right: 44px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.87;
    padding-left: 35px;
    padding-right: 42px;
  }
}

.review__subtitle {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.85;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.87;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.85;
  }
}
