/*параметри контейнера*/
.customer-reviews {
  background: $light-text-color;
  padding-bottom: 86px;

  /*планшет*/
  @media screen and (min-width: $tablet) {
    padding-bottom: 119px;
  }
  /*десктоп*/
  @media screen and (min-width: $desktop) {
    padding-bottom: 132px;
  }
}

.container.customer-reviews__container {
  /*планшет*/
  @media screen and (min-width: $tablet) {
    padding-left: 74px;
    padding-right: 74px;
  }
  /*десктоп*/
  @media screen and (min-width: $desktop) {
    padding-left: 177px;
    padding-right: 177px;
  }
}

/*====Slider====*/
.slider {
  width: 280px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 999;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }
  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}

.slider__list {
  width: 300%;
  display: flex;
  transition: transform 0.6s $transition-timing-function;
}

.slider__input {
  position: absolute;
  visibility: hidden;
}
.slider__navigation {
  margin: 0 auto;
  text-align: center;
}

.slider__navigation-item {
  cursor: pointer;
}
.slider__navigation-item:not(:last-child) {
  margin-right: 10px;

  @media screen and (min-width: $tablet) {
    margin-right: 18px;
  }
}

.slider__navigation-icon {
  width: 12px;
  height: 12px;
  fill: $slide-dot-light-color;
  transition: transform $transition-duration $transition-timing-function,
    fill 0.6s $transition-timing-function;

  &:hover,
  &:focus {
    transform: scale(1.35);
  }
}
//===navigation===

.slider__input--one:checked
  ~ .slider__navigation
  > .slider__navigation-item:nth-child(1)
  > .slider__navigation-icon--home {
  fill: $slide-homepage-color;
}

.slider__input--two:checked
  ~ .slider__navigation
  > .slider__navigation-item:nth-child(2)
  > .slider__navigation-icon {
  fill: $slide-homepage-color;
}

.slider__input--three:checked
  ~ .slider__navigation
  > .slider__navigation-item:nth-child(3)
  > .slider__navigation-icon {
  fill: $slide-homepage-color;
}

.slider__input--one:checked ~ .slider__list {
  transform: translateX(0);
}

.slider__input--two:checked ~ .slider__list {
  transform: translateX(-33.33%);
}
.slider__input--three:checked ~ .slider__list {
  transform: translateX(-66.66%);
}

//===Controls===
.slider__controls {
  width: 100%;
  position: absolute;
  bottom: 50%;

  @media screen and (min-width: $tablet) {
    bottom: 44%;
  }
}

.slider__controls-item {
  opacity: 0.7;
  cursor: pointer;
  transition: transform $transition-duration $transition-timing-function,
    opacity $transition-duration $transition-timing-function;
  &:focus,
  &:hover {
    transform: scale(1.1);
    opacity: 1;
  }
}

//стилі для лівої кнопки
.slider__input--one:checked ~ .slider__controls > .slider__controls-item:nth-child(1),
.slider__input--two:checked ~ .slider__controls > .slider__controls-item:nth-child(1),
.slider__input--three:checked ~ .slider__controls > .slider__controls-item:nth-child(2) {
  display: block;
  float: left;
  background-image: url(../images/forward.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -5px;
  height: 40px;
  width: 40px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/forward@2x.png);
  }

  @media screen and (min-width: $tablet) {
    height: 50px;
    width: 50px;
    background-position-x: -10px;
  }
}

//стилі для правої кнопки
.slider__input--one:checked ~ .slider__controls > .slider__controls-item:nth-child(2),
.slider__input--two:checked ~ .slider__controls > .slider__controls-item:nth-child(3),
.slider__input--three:checked ~ .slider__controls > .slider__controls-item:nth-child(3) {
  display: block;
  float: right;
  background-image: url(../images/backward.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 5px;
  height: 40px;
  width: 40px;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/backward@2x.png);
  }

  @media screen and (min-width: $tablet) {
    height: 50px;
    width: 50px;
    background-position-x: 10px;
  }
}

/*===Content===*/

.slide {
  width: 280px;
  transition: all 500ms ease;
  flex-direction: column;
  text-align-last: center;

  @media screen and (min-width: $tablet) {
    width: 620px;
  }
  @media screen and (min-width: $desktop) {
    width: 926px;
  }
}

.review::after {
  position: absolute;
  left: 50%;
  bottom: -30px;
  display: block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: $slide-dot-dark-color;
  transform: translateX(-50%);

  box-shadow: -10px 0 0 0 $slide-dot-dark-color, 10px 0 0 0 $slide-dot-dark-color;

  @media screen and (min-width: $tablet) {
    bottom: -24px;
  }
  @media screen and (min-width: $desktop) {
    bottom: -15px;
  }
}

.slide__image {
  width: 85px;
  height: 85px;
  margin: 0 auto;
  border-radius: 50%;
  transition: transform $transition-duration $transition-timing-function,
    box-shadow $transition-duration $transition-timing-function;

  &:hover,
  &:focus {
    transform: scale(1.001);
    box-shadow: 0px 0px 2px 0px $middle-text-color;
  }
}
.review {
  width: 100%;
  position: relative;
  padding: 43px 50px 20px 50px;
  margin-top: 29px;
  margin-bottom: 52px;
  background-color: $feedback-background-color;
  box-sizing: border-box;
  background-image: url(../images/quotes.png);
  background-size: 54px 40px;
  background-repeat: no-repeat;
  background-position: 61px 28px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/quotes@2x.png);
    background-size: 54px 40px;
  }

  @media screen and (min-width: $tablet) {
    padding: 47px 56px 28px 60px;
    margin-top: 19px;
    margin-bottom: 42px;
    background-position: 40px 30px;
  }
  @media screen and (min-width: $desktop) {
    padding: 47px 54px 32px 59px;
    margin-top: 19px;
    margin-bottom: 34px;
    background-position: 50px 32px;
  }
}

.review__text {
  text-align: center;
  font-size: 12px;
  line-height: 2.58;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding-left: 7px;
  padding-right: 16px;
  background: repeating-linear-gradient(
    to top,
    $feedback-quotes-color,
    $feedback-quotes-color 1px,
    transparent 1px,
    transparent 31px
  );

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 2.16;
    padding-left: 20px;
    padding-right: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 1.87;
    padding-left: 35px;
    padding-right: 42px;
  }
}

.review__subtitle {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 1.85;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.87;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.85;
  }
}
